<!-- ●ヘッダー●　PC -->
div#ex2_header_PC div#ex2_h_5 ul.ex2_h_cat li img{width:15%;}

<!-- ●レフトナビ●　PC -->
div#ex2_leftnavi_PC div.ex2_l_4 div.ex2_l_4_flex{margin-top:0;}

<!-- ●フッター●　PC -->
div#ex2_footer_PC div#ex2_f_3 ul.ex2_f_li_l li{width:20.5%; padding-left:5.5%;}
div#ex2_footer_PC div#ex2_f_3 ul.ex2_f_li_l li:first-child{padding-left:2%;}





div#background {width:890px;height:auto;float:left;margin:0.4% auto 0; background:#ffffff;}
div#container {width:850px;height:auto;float:left;margin:0 20px;}

div#headline {width:850px;height:70px;float:left;margin:30px 0 0 0;padding:0;}
div#headline p {text-align:left;margin:0 ;padding:0;color:#000000;font-family:"Meiryo UI",Arial,"Lucida Sans Unicode";font-size:30px;font-smoothing:subpixel-antialiased;text-rendering:opximizeLegibility;display:table-cell;vertical-align:bottom;letter-spacing:1px;}

div#featureditems ul{padding:0;}
div:nth-child(4) ul{padding:0;}

div#classification {width:850px;height:auto;float:left;margin:0;padding:0;}
div#classification ul {width:822px;height:auto;float:left;margin:0;padding:0 0 0 28px;}
div#classification ul li {width:100px;height:auto;float:left;margin:0 37px 25px 0;padding:0;}
div#classification ul li img {width:100px;height:100px;float:left;margin:0 0 4px 0;padding:0;}

div#classification a:link {color:#000000;text-decoration:none;text-align:left;margin:0 ;padding:0;font-family:"Meiryo UI",Arial,"Lucida Sans Unicode";font-size:12px;font-smoothing:subpixel-antialiased;text-rendering:opximizeLegibility;vertical-align:bottom;letter-spacing:1px;}
div#classification a:visited {color:#000000;}
div#classification a:active {color:#000000;}
div#classification a:hover {color:#949494;}
div#classification a:hover img {opacity: 0.7; filter: alpha(opacity=70);-ms-filter: "alpha(opacity=70)";}

li.invisible {display:none;}
